.gradle/config.properties
local.properties
.gradle/*
.idea/misc.xml
/build
/.gradle
.gradle/8.9/dependencies-accessors/33bcf08332c346d1bd3cfff0cf9c4a7d3cefa117-7fea22b5-4d97-41ed-913f-fa073005a248/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
.gradle/8.9/dependencies-accessors/33bcf08332c346d1bd3cfff0cf9c4a7d3cefa117-7fea22b5-4d97-41ed-913f-fa073005a248/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
local.properties
local.properties
local.properties
gradle/wrapper/gradle-wrapper.properties
gradle/libs.versions.toml
.idea/misc.xml
.idea/misc.xml
.idea/caches/deviceStreaming.xml
.idea/AndroidProjectSystem.xml
.idea/caches/deviceStreaming.xml
.idea/caches/deviceStreaming.xml
/.idea
local.properties
local.properties
.DS_Store
gradle/wrapper/gradle-wrapper.jar
gradle/gradle-daemon-jvm.properties
