.gradle/config.properties
local.properties
.gradle/*
.idea/misc.xml
/build
/.gradle
.idea/misc.xml
.idea/caches/deviceStreaming.xml
.idea/AndroidProjectSystem.xml
/.idea
.DS_Store
gradle/gradle-daemon-jvm.properties
